@page "/events/{eventId:guid}"
@inherits CupKeeperComponentBase
@inject EventService EventService
@inject IDragProvider DragProvider
<PageTitle>@_event.ChampionshipYear @_event.Name - Event Details - Cup Keeper</PageTitle>

<div class="bg-indigo-900 px-4 sm:px-6 lg:px-8 py-6 shadow-lg">
    <Toolbar Title=@($"{_event.ChampionshipYear} {_event.Name}") Subtitle="We do some eventing here.">
        <Buttons>
            <Button Type="ButtonType.ErrorOutline" Clicked="@OnBeginDelete">
                @HeroIcons.Trash("inline-block")
                <span>Delete</span>
            </Button>
            <Button Type="ButtonType.DefaultOutline" Clicked="@OnBeginEdit">
                @HeroIcons.Pencil("inline-block")
                <span>Edit</span>
            </Button>
            <Button Type="ButtonType.Primary" Clicked=@LoadResultsFromUsac Disabled=@_isLoadingResults>
                @if (_isLoadingResults)
                {
                    <Spinner/>
                }
                else
                {
                    @HeroIcons.ArrowRightOnRectangle("inline-block")
                }
                <span>Load Results</span>
            </Button>
            @if (!_event.IsPublished && _event.Results.Any())
            {
                <Button Type="ButtonType.Primary" Clicked="HandlePublishClicked">
                    @HeroIcons.BarsArrowUp("inline-block")
                    <span>Publish</span>
                </Button>
            }
        </Buttons>
    </Toolbar>
</div>

<div class="mx-auto px-4 sm:px-6 lg:px-8 my-6">
    @* Top Grid of Info *@
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 my-6">
        <StatCard>
            <Title>Course</Title>
            <Statistic>
                <h4 class="font-bold text-2xl">@_event.VenueName</h4>
                <h5 class="opacity-75 text-xl">@_event.CourseName</h5>
            </Statistic>
        </StatCard>
        <StatCard>
            <Title>Status</Title>
            <AdditionalData>
                @if (_event.IsPublished)
                {
                    @HeroIcons.CheckCircle("text-green-400")
                }
                else if (_event.IsDeleted)
                {
                    @HeroIcons.XMark("text-red-400")
                }
                else
                {
                    @HeroIcons.MinusCircle("opacity-75")
                }
            </AdditionalData>
            <Statistic>
                @if (_event.IsPublished)
                {
                    <span>Published</span>
                }
                else if (_event.IsDeleted)
                {
                    <span>Deleted</span>
                }
                else
                {
                    <span>Draft</span>
                }
            </Statistic>
        </StatCard>
        <StatCard>
            <Title>Scheduled</Title>
            <Statistic>
                @(_event.ScheduledDate is null ? "Not Set" : _event.ScheduledDate.Value.ToString("D"))
            </Statistic>
        </StatCard>
        <StatCard>
            <Title>Actual</Title>
            <Statistic>
                @(_event.ActualDate is null ? "Not Set" : _event.ActualDate.Value.ToString("D"))
            </Statistic>
        </StatCard>

    </div>
    
    @foreach (var category in _event.Results.OrderBy(m => m.Order).ThenBy(m => m.Name))
    {
        <EventCategoryGrid Category="category" EventId="EventId" />
    }
</div>

<Dialog @bind-IsVisible=@_isEditDialogVisible Title="Edit Event" WindowClass="w-1/2">
    <Content>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <div class="mb-2">
                    <Label>Scheduled Date</Label>
                    <input class=@Theme.Forms.TextBox type="date" @bind=@_editContext.ScheduledDate onblur=@OnEditContextScheduledDateChanged/>
                </div>
            </div>    
            <div>
                <CourseSelector 
                    CourseId=@_editContext.CourseId 
                    VenueId=@_editContext.VenueId 
                    VenueIdChanged=@((Guid venueId) => { _editContext.VenueId = venueId; })
                    CourseIdChanged=@OnEditContextCourseChanged />
            </div>
        </div>
    </Content>
</Dialog>

<Dialog @bind-IsVisible="@_isDeleteDialogVisible" Title="Delete Event">
    <Content>
        <p>Are you sure you want to mark this event as deleted?</p>
    </Content>
    <Footer>
        <Button Clicked="@OnCancelDelete">Cancel</Button>
        <Button Clicked="@OnConfirmDelete" Type="ButtonType.Error">Confirm Delete</Button>
    </Footer>
</Dialog>

@code {
    [Parameter] public Guid EventId { get; set; }

    [CascadingParameter(Name = "Theme")] public ITheme Theme { get; set; } = null!;

    private EventViewModel _event = new();
    private EventViewModel _editContext = new();
    private bool _isLoadingResults = false;
    private bool _isPublishing = false;

    private bool _isDeleteDialogVisible = false;
    private bool _isEditDialogVisible = false;

    private Timer? _loadTimer;

    private void OnBeginEdit()
    {
        CopyToEditContext();
        _isEditDialogVisible = true;
        StateHasChanged();
    }

    private void OnBeginDelete()
    {
        CopyToEditContext();
        _isDeleteDialogVisible = true;
        StateHasChanged();
    }

    private void OnCancelDelete()
    {
        _isDeleteDialogVisible = false;
        StateHasChanged();
    }

    private async Task OnConfirmDelete()
    {
        var result = await EventService.Delete(EventId);
        
        // TODO: Do something with the result ^^
        if (result.IsSuccess)
        {
            _isDeleteDialogVisible = false;
            StateHasChanged();

            _event = (await EventService.GetEvents()).First(m => m.Id == EventId);
        }
    }

    private async Task HandlePublishClicked()
    {
        _isPublishing = true;
        StateHasChanged();

        var response = await EventService.Publish(EventId);

        _isPublishing = false;
        _event = (await EventService.GetEvents()).First(m => m.Id == EventId);
        StateHasChanged();
    }

    private async Task LoadResultsFromUsac()
    {
        _isLoadingResults = true;

        var response = await EventService.StartLoad(EventId);

        if (response)
        {
            _loadTimer = new Timer(CheckResultsAsync, new { }, TimeSpan.FromSeconds(5), TimeSpan.FromSeconds(1));

            StateHasChanged();
        }
    }

    private async void CheckResultsAsync(object? state)
    {
        var isFinished = await EventService.CheckLoadStatus(EventId);

        if (!isFinished)
        {
            return;
        }
        

        _event = (await EventService.GetEvents()).First(m => m.Id == EventId);
        _isLoadingResults = false;

        if (_loadTimer is not null)
        {
            await _loadTimer.DisposeAsync();
            _loadTimer = null;
        }
            
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _event = (await EventService.GetEvents()).First(m => m.Id == EventId);
    }

    private async Task OnEditContextScheduledDateChanged(FocusEventArgs args)
    {
        if (_editContext.ScheduledDate == _event.ScheduledDate)
        {
            // nothing to submit
            return;
        }

        // submit to the server!
        var response = await EventService.SetScheduledDate(
            _event.Id, 
            _editContext.ScheduledDate,
            _editContext.ScheduledDate
        );

        // we probably want to reload this from the server, or provide a loopback
        if (response.IsSuccess)
        {
            _event.ScheduledDate = _editContext.ScheduledDate;
            _event.ActualDate = _editContext.ScheduledDate;
            StateHasChanged();
        }
    }

    private async Task OnEditContextCourseChanged(Guid courseId)
    {
        if (courseId == _editContext.CourseId)
        {
            return;
        }

        _editContext.CourseId = courseId;

        var response = await EventService.SetCourse(
            _event.Id,
            _editContext.VenueId,
            _editContext.CourseId
        );

        if (response.IsSuccess)
        {
            var reloadedEvent = (await EventService.GetEvents()).First(m => m.Id == EventId);
            _event.VenueId = reloadedEvent.VenueId;
            _event.VenueName = reloadedEvent.VenueName;
            _event.CourseId = reloadedEvent.CourseId;
            _event.CourseName = reloadedEvent.CourseName;
            
            StateHasChanged();
        }
    }

    private void CopyToEditContext()
    {
        _editContext.Name = _event.Name;
        _editContext.ScheduledDate = _event.ScheduledDate;
    }
}